<body>
    <%- partial('header') %>
	<%- partial('section/home') %>
	<%- partial('section/about') %>
	<%- partial('section/works') %>
	<%- partial('section/services') %>
	<%- partial('section/contact') %>
	<%- partial('footer') %>
</body>