include /_includes/_cards/_card
include /_includes/_mixins

mixin card-education(diplome)
	a.uk-link-reset.uk-width-medium(uk-toggle="target:#modal-"+diplome.name)
		.uk-card.uk-card-default.uk-card-hover(id=diplome.name)
			+code-background("medium", diplome.name, 600, "dark-hard")
				.uk-overlay.uk-position-top-left
					h2.uk-h4.uk-text-uppercase.uk-text-primary=diplome.title
						.uk-text-small=diplome.subtitle
			
				.uk-overlay.uk-position-bottom-left
					h3.uk-text-uppercase.uk-text-small.uk-margin-remove=diplome.place
					time.uk-text-uppercase.uk-text-small.uk-text-muted.uk-margin-remove(datetime)=diplome.dateEnd
			
				if diplome.status
					.uk-overlay.uk-position-top-right
						span.uk-text-small.uk-text-uppercase.uk-text-warning=diplome.status

	div(id="modal-"+diplome.name uk-modal)
		.uk-modal-dialog.uk-margin-auto-vertical
			button.uk-modal-close-default(type="button" uk-close)
			.uk-modal-body
				.uk-flex.uk-flex-between
					div
						h2.uk-text-uppercase.uk-text-muted.uk-text-small.uk-margin-remove=diplome.place
						h3.uk-card-title.uk-text-primary.uk-margin-remove.uk-text-uppercase=diplome.title
					.uk-margin-remove-top
						p.uk-text-uppercase.uk-text-small.uk-margin-remove
							span.uk-text-meta
								time(datetime)=diplome.dateBegin
								|  - 
								time(datetime)=diplome.dateEnd
				if diplome.descriptions
					each de in diplome.descriptions
						p.uk-margin-top=de					
				else
					p.uk-margin-top=diplome.description
				if diplome.courses
					p.uk-margin-small
					h6.uk-heading-line.uk-text-center
						span Unités d'enseignements
					ul(uk-accordion="collapsible: true; multiple: true")
						each courses,i in diplome.courses
							li
								.uk-accordion-title
									span.uk-h5 Semestre 
										=i+1
								.uk-accordion-content
									ul.uk-list.uk-list-bullet
										each course in courses
											li=course
				hr.uk-divider-small
				a.uk-link-reset(href=diplome.link.href, target="_bank")
					small.uk-text-bold.uk-text-uppercase.uk-text-primary=diplome.link.title
						span(uk-icon="icon: link")