include /_includes/_cards/_card
include /_includes/_mixins

style.
	.jh-card-badge {
		top: 20px;
		right: 20px;
	}

mixin card-work(work)
	a.uk-link-reset(uk-toggle="target:#modal-"+work.name)
		.uk-card.uk-card-default.uk-card-hover.uk-card-small(id=work.name)
			.uk-flex.uk-flex-column.uk-flex-between

				.uk-background-default
					.uk-card-body.uk-overflow-hidden.uk-height-medium
						.uk-grid-small.uk-flex-between.uk-child-width-auto(uk-grid class="uk-child-width-1-1@s")
							div
								p.uk-margin-remove.uk-text-uppercase.uk-text-small.uk-text-meta=work.category
								h3.uk-card-title.uk-text-primary.uk-margin-remove.uk-text-uppercase=work.title
							.uk-margin-remove-top
								p.uk-text-uppercase.uk-text-small.uk-text-muted.uk-margin-remove
									time(datetime=work.dateBegin)=work.dateStartFormated
									|  - 
									time(datetime=work.dateEnd)=work.dateEndFormated
						p.uk-margin-top.uk-margin-remove-bottom=work.description
									

				.uk-background-muted
					hr.uk-divider-small.uk-margin-remove
					.uk-card-body
						p.uk-text-lowercase.uk-margin.uk-text-truncate
							span.uk-margin-small-right(uk-icon="icon:tag")
							each tag, i in work.tags
								=tag
								if i < work.tags.length -1
									| , 

	div(id="modal-"+work.name uk-modal)
		.uk-modal-dialog.uk-margin-auto-vertical
			button.uk-modal-close-default(type="button" uk-close)
			.uk-modal-body
				.uk-grid-small.uk-flex-between.uk-child-width-auto(uk-grid class="uk-child-width-1-1@s")
					div
						p.uk-margin-remove.uk-text-uppercase.uk-text-small.uk-text-meta=work.category
						h3.uk-card-title.uk-text-primary.uk-margin-remove.uk-text-uppercase=work.title
					.uk-margin-remove-top
						p.uk-text-uppercase.uk-text-small.uk-text-muted.uk-margin-remove
							time(datetime=work.dateBegin)=work.dateStartFormated
							|  - 
							time(datetime=work.dateEnd)=work.dateEndFormated
				p.uk-margin-top.uk-margin-remove-bottom=work.description
								

				hr.uk-divider-small
				p.uk-text-lowercase.uk-margin
					span.uk-margin-small-right(uk-icon="icon:tag")
					each tag, i in work.tags
						=tag
						if i < work.tags.length -1
							| , 

				.uk-flex.uk-flex-between
					.uk-grid-small(class="uk-child-width-auto" uk-grid)
						each link in work.links
							div
								if(link.disabled)
									button.uk-button.uk-button-default.uk-button-small(disabled)=link.label
								else
									a.uk-button.uk-button-default.uk-button-small(href=link.href, target="_blank")=link.label
							