a.uk-link-reset.uk-card.uk-card-hover.uk-card-default(href="/works/"+work.name)
    // .uk-background-cover.uk-background-blend-multiply.uk-background-primary(style="background-image: url(/assets/works/"+work.name+".jpg);")
    div.uk-card-body
        if work.label
            div.uk-card-badge.uk-label(class="uk-label-"+work.label.type)= work.label.value
    
        h4=work.title

        p=work.description

        p.uk-text-uppercase
            span=work.category
            br
            span.uk-text-meta
                time(datetime=work.dateStart)=work.dateStartFormated
                |  - 
                time(datetime=work.dateEnd)=work.dateEndFormated