-var data = public.works._data


mixin work(work)
    div.uk-card.uk-card-default.uk-card-hover(data-uk-filter=work.tags)
        a.uk-link-reset(href="/works/" + work.name + "/")
            div.uk-card-body
                if work.label
                    div.uk-card-badge.uk-label(class="uk-label-" + work.label.type)= work.label.value
                article.uk-article
                    h3.uk-article-title.uk-margin= work.title
                    h4=work.type
                    p.uk-article-meta
                        = work.dateBegin
                        |  - 
                        = work.dateEnd
                    p= work.description

section.uk-section.uk-section-large
    div.uk-container
        div.uk-text-center
            h2.uk-heading-primary=data.title 
            p.uk-text-large=data.resume
        ul.uk-subnav.uk-subnav-divider.uk-flex-center#work-grid
            each value in data.type
                li(uk-filter=value)
                    a(href)=value
        ul(class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid uk-margin)
            each w in data.posts
                li
                    +work(w)