<div uk-grid>
    <div class="uk-width-1-1 uk-width-medium-2-5">
        <h3 class="uk-h4 uk-margin-remove-bottom">
            <%= post.experience.title %><br><%= post.experience.place %>
        </h3>
        <span class="tm-text-lead uk-display-block uk-text-muted"><%= post.experience.date-begin %> - <%= post.experience.date-end %></span>
    </div>
    <div class="uk-width-1-1 uk-width-medium-3-5">
        <p class="uk-text-muted"><%= post.experience.description %></p>
    </div>
</div>