<% if(experience != null) { %>
    <div uk-grid>
        <div class="uk-width-1-1 uk-width-medium-2-5">
            <h3 class="uk-h4 uk-margin-remove-bottom">
                <%= experience.title %><br><%= experience.organisation %>
            </h3>
            <span class="tm-text-lead uk-display-block uk-text-muted"><%= experience.date_begin %> - <%= experience.date_end %></span>
        </div>
        <div class="uk-width-1-1 uk-width-medium-3-5">
            <p class="uk-text-muted"><%= experience.description %></p>
        </div>
    </div>
<% } %>
