<% if(work != null) { %>
    <div class="uk-card uk-card-default uk-width-1-2@m" data-uk-filter="personnal,mobile,android">
        <div class="uk-card">
            <div class="uk-card-header">
                <div class="uk-card-badge uk-label">Badge</div>
                <div class="uk-grid-small uk-flex-middle" uk-grid>
                    <h3 class="uk-card-title uk-margin-remove-bottom"><%= work.title %><br><small><%= work.type %></small></h3>
                    <p class="uk-text-meta uk-margin-remove-top"><%= work.date %></p>
                </div>
            </div>
            <div class="uk-card-body">
                <p><%= work.description %></p>
            </div>
            <div class="uk-card-footer">
                <a class="uk-button uk-button-text" href="#<%= theme.work_modal + work.name %>"><%=__('read_more')%></a>
            </div>
        </div>
    </div>
<% } %>