<% if(work) { 
    var tags = 'p';  %>
    <div class="uk-card uk-card-hover uk-card-small uk-card-default uk-text-left" data-uk-filter="<%= tags %>">
        <!--
        <div class="uk-card-media-top">
            <img src="images/work/<%= work.name %>.jpg" alt="<%= work.name%> media">
        </div>
        -->
        <div class="uk-card-header">
            <h3 class="uk-card-title uk-margin-remove-bottom"><%= work.title %></h3>
            <h4 class="uk-text-muted uk-margin-remove"><%= work.type %></h4>
        </div>
        <div class="uk-card-body">
            <p><%= work.description %></p>
        </div>
        <div class="uk-card-footer uk-child-width-1-2@s" uk-grid>
            <div>
                <button class="uk-button uk-button-text" type="button" uk-toggle="target: #<%= theme.work_modal + work.name %>"><%=__('read_more')%></button>
            </div>
            <div class="uk-text-right">
                <time class="uk-text-meta"><%= moment(work.date).format("DD/MM/YYYY") %></time>
            </div>
        </div>
    </div>
<% } %>