//-various
mixin item(value, name)
	li(class={'uk-active': (current.path[0] == "index" && value == "/") || current.path[0] == value})
		+a(value)=name

mixin list(values, names)
	each value, i in values
		+item(value, names[i])

mixin tooltip(tooltip, title)
	div(title=title uk-tooltip=tooltip)
		block
//-label
mixin label(type, value)
	.uk-label(class="uk-label-"+type)=value

mixin card-badge(type, value)
	+label(type, value).uk-card-badge

mixin icon(icon, ratio)
	span(uk-icon="icon:"+icon+";ratio:"+(ratio?ratio:1))

//-link

mixin icon-button(href, target, icon, ratio)
	+a(href, target)(class="uk-icon-button" uk-icon="icon:"+icon+";ratio:"+(ratio?ratio:1))&attributes(attributes)=name

mixin icon-link(href, target, icon, ratio)
	+a(href, target)(class="uk-icon-link" uk-icon="icon:"+icon+";ratio:"+(ratio?ratio:1))&attributes(attributes)=name

mixin a(href, target, name)
	a(href=href target=(target?target:"_self"))&attributes(attributes)=name
		block

mixin link-reset(href, target)
	+a(href, target)(class="uk-link-reset")
		block

mixin button(text, style, size, href, target)
	a.uk-button(class="uk-button-"+style+" uk-button-"+size, href=href, target=target)=text

//-text
mixin header(title, subtitle, description)
	h1.uk-margin-small-bottom.uk-h6.uk-text-uppercase=title
	h2.uk-h3.uk-text-primary.uk-margin-remove-top=subtitle
	p.uk-margin-small-top!=description

//-grid
mixin dynamic-grid(size, lcolumn, mcolumn, scolumn, column)
	div(class="uk-child-width-1-"+column+" uk-child-width-1-"+scolumn+"@s uk-child-width-1-"+mcolumn+"@m uk-child-width-1-"+lcolumn+"@l" uk-grid uk-margin)
		-var i = 0
		-var column = lcolumn
		-var line = Math.ceil(size/column)
		-var jlimit = Math.ceil(size / column - 1)+1
		-var j = 0
		while  i < column
			div(uk-margin)
				-j = 0
				while j + i * line < size && j < jlimit
					div
						block
					-j++
			-i++

mixin dynamic-grid-with-array(length, mcolumn, bcolumn)
	-var column = mcolumn
	-var line = Math.ceil(length / column)
	-var jlimit = Math.ceil(length / column - 1)+1
	-var i = 0
	div(class="uk-child-width-1-"+bcolumn+" uk-child-width-1-"+mcolumn+"@m" uk-grid uk-margin)
		while i < column
			.uk-grid-collapse(uk-margin)
				-var j = 0
				while j + i * line < length && j < jlimit
					div
						block
					-j++
			-i++


// work							
//others
mixin pic-or-not(work, height)
	if work.picture
		+card-work-picture(work, height)
	else			
		+card-work(work)


mixin grid(size, cols)
	div(uk-grid class="uk-child-width-1-"+cols+"@s")
		- var i = 0
		while i < cols
			div
				div(uk-grid)
					- var n = 0
					while n < size/cols
						div
							block
						-n++
			-i++