include /_includes/_mixins

-var data = public.about._data
-var objective = data.content[0]
-var education = data.content[1]
-var professional = data.content[2]
-var skills = data.content[3]

//top
section.uk-section.uk-section-large.uk-section-default
	.uk-container.uk-flex.uk-flex-center
		.uk-width-xxlarge.uk-text-center.uk-flex.uk-flex-center(uk-grid)
			.uk-width-xlarge
				h1.uk-heading-primary=data.title
				p.uk-text-lead!=data.resume
			.uk-flex.uk-flex-center
				.uk-grid-divider.uk-flex-center(uk-grid)
					div
						ul.uk-subnav.uk-flex-center
							each content in data.content
								li
									a(href="#"+content.name uk-scroll="offset:80")=content.title
					div
						ul.uk-subnav.uk-flex-center
							each share in public._data.share
								li
									+a(share.href, "_blank")=share.icon
										+icon("link")

//Objective
section.uk-section.uk-section-large.uk-section-primary(id=objective.name)
	.uk-container
		.uk-grid-large.uk-flex.uk-flex-middle(uk-grid)
			.uk-flex.uk-flex-center(class="uk-width-1-2@m uk-flex-last@m")
				.uk-width-xlarge.uk-text-center(class="uk-text-left@m")
					+header(objective.title, objective.subtitle, objective.description)
			.uk-flex.uk-flex-center(class="uk-width-1-2@m")
				.uk-background-primary
					img.uk-blend-screen.uk-border-circle(class="uk-width-medium uk-width-large@m" src="/assets/objective.gif" uk-gif)

//Education
section.uk-section.uk-section-large.uk-section-default(id=education.name)
	.uk-container
		.uk-grid-small.uk-flex.uk-flex-center.uk-flex-middle(uk-grid)
			.uk-text-center.uk-width-xxlarge.uk-margin-large-bottom
				+header(education.title, education.subtitle, education.description)
			.uk-flex-center.uk-grid-large(class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid uk-height-match="target: > a > .uk-card")
				each diplome in education.diplomes
					+card-education(diplome)

//Professional
section.uk-section.uk-section-large.uk-section-muted(id=professional.name)
	.uk-container
		.uk-flex.uk-flex-middle.uk-flex-center(class="uk-child-width-1-2@m" uk-grid)
			.uk-flex.uk-flex-center
				.uk-width-xlarge.uk-text-center(class="uk-text-left@m")
					+header(professional.title, professional.subtitle, professional.description)
			.uk-flex.uk-flex-center(class="uk-child-width-1-2@s uk-child-width-1-1@m" uk-grid)
				each experience in professional.experiences
					+card-experience(experience)

//Skills
section.uk-section.uk-section-large.uk-section-default(id=skills.name)
	.uk-container
		.uk-flex.uk-flex-center(uk-grid)
			.uk-width-xlarge.uk-text-center
				+header(skills.title, skills.subtitle, skills.description)
				p.uk-heading-primary ...
//CV
section.uk-section.uk-section-large.uk-section-muted
	.uk-container.uk-text-center
		h2 Au plus simple
		p Allez voir mon curriculum vitae résumant ma formation, mes experiences et mes compétences.
		a.uk-button.uk-button-primary(role="button" href="/assets/cv-johannhospice.pdf")
			span Télécharger mon cv 
			+icon("file-edit")

//-
	+button-icon("/assets/cv-johannhospice.pdf", "Télécharger mon cv", "file-edit")

	mixin button-icon-text(icon, ratio, text, href, target)
		a.uk-button.uk-button-primary(role="button" href=href target=target)
			+icon(icon, ratio)
			span=text
			