-var data = public.about._data

section.uk-section.uk-section-large.uk-section-default
	div.uk-container.uk-text-center
		h1.uk-heading-primary=data.title
		p.uk-text-large!=data.resume
		div.uk-flex.uk-flex-center
			ul.uk-subnav
				li
					a(href="#objective" uk-scroll) objectif
				li
					a(href="#education" uk-scroll) formation
				li
					a(href="#experience" uk-scroll) experience


- var type =["primary", "muted", "default"]
- var i = 0
each content in data.content
	- var preserve = type[i] == "primary" || type[i] == "secondary"
	section.uk-section.uk-section-large(class="uk-section-" + type[i] + (preserve ? " uk-preserve-color" : "") id=content.id)
		div.uk-container
			div(class=(preserve ? "uk-light" : ""))
				h2.uk-text-center=content.title
				p.uk-text-center!= content.resume
			
			div(class="uk-child-width-1-2@s uk-child-width-1-3@m" uk-grid)
				each edu in content.content
					div
						div.uk-card.uk-card-default
							div.uk-card-body
								h3=edu.name
									if edu.mention
										br
										small.uk-text-uppercase.uk-text-meta=edu.mention

								p!=edu.resume
								p.uk-text-uppercase.uk-text-small
									span=edu.place
									br
									span.uk-text-muted
										time=edu.dateEnd
										|  - 
										time=edu.dateBegin
							if edu.link 
								div.uk-card-footer
									a.uk-button.uk-button-text(href=edu.link) En savoir plus
	- i = i + 1
	if i>=type.length
		- i = 0
	
section.uk-section.uk-section-large(class="uk-section-" + type[i])
	div.uk-container.uk-container-center.uk-text-center
		h2.uk-text-center Au plus simple
		p.uk-text-center Allez voir mon curriculum vitae résumant ma formation, mes experiences et mes compétences.
		a.uk-button.uk-button-primary(role="button" href="/assets/cv-johannhospice.pdf")
			span(uk-icon="icon: file-edit")
			span  Télécharger mon cv
			