include /_includes/_mixins

-var data = public.works._data.posts.find(o => o.name = "iportbook")

section.uk-section.uk-section-primary
	.uk-container.uk-container-.uk-flex.uk-flex-center
		.uk-child-width-1-1.uk-grid-large(class="uk-child-width-1-2@s" uk-grid)
			.uk-flex.uk-flex-middle.uk-flex-right
				.uk-width-1-1(class="uk-width-1-1@m")
					.uk-height-max-large.uk-overflow-hidden.uk-border-rounded
						img.uk-width-1-1(src="/assets/works/iportbook.jpg", alt="blabla")
			.uk-flex.uk-flex-middle
				div
					h2.uk-h6.uk-text-muted.uk-text-uppercase.uk-margin-remove=data.category
					h1.uk-margin-small-top=data.title
						div.uk-h3=data.subtitle
					p.uk-h4.uk-margin-medium-top=data.description
						br
						span.uk-h5=data.descriptionExtra


					p.uk-margin-medium.uk-h6.uk-text-uppercase.uk-text-muted
						time=data.dateStartFormated
						|  - 
						time=data.dateEndFormated


section.uk-section.uk-section-default
	.uk-container.uk-container-small
		//- content
		hr.uk-margin-large-top
		.uk-text-center
			.uk-button-group
				a.uk-button.uk-button-default(href=data.code) 
					+icon("github")
					span.uk-margin-small-left voir le code